<h2 class="text-center text-danger mt-3"><b>All users</b> </h2>
<div class="text-center">
  <button routerLink="../newuser" class="btn btn-primary m-3">Add new user</button>
</div>

<div class="d-flex justify-content-center text-center">
    <table class="table table-dark w-100">
      <thead>
        <tr>
          <th class="text-warning" scope="col" rowspan="2">#</th>
          <th scope="col" rowspan="2">Name</th>
          <th scope="col" rowspan="2">Email</th>
          <th scope="col" colspan="2">Address</th>
          <th scope="col" rowspan="2">Update</th>
          <th scope="col" rowspan="2">Delete</th>
        </tr>
        <tr>
            <th scope="col">City</th>
            <th scope="col">Street</th>
        </tr>  
        

      </thead>
      <tbody>
        <tr *ngFor="let user of users">
            <!-- <app-user-item  ></app-user-item> -->
            <td><a class="text-warning" routerLink="{{user.id}}">{{user.id}}</a></td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address.city}}</td>
            <td>{{user.address.street}}</td>
            <td><button class="btn btn-primary" routerLink="edit/{{user.id}}">Update</button></td>
            <td><button class="btn btn-danger" (click)="delete(user.id)">Delete</button></td>
        </tr>
    </tbody>
  </table>
</div>